.flightList {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: $space-2;

    /* Для Chrome, Edge, Safari */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Для Firefox */
  scrollbar-width: none;

  /* Для IE и Edge (устаревшие) */
  -ms-overflow-style: none;
}