.homePageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}

.homeWrapper {
  height: 100vh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}

.flight {
  margin-left: $space-6;
  display: flex;
  flex-direction: column;
  gap: $space-2;;
  width: $width-sm;
}

.btnWrap {
  display: flex;
  flex-direction: row;
  gap: $space-3;
}

.buttonFilter {
  background-color: var(--color-secondary);
  color: var(--color-text);
  width: 50%;
}

.buttonFilterActive {
  background-color: var(--color-accent);
  color: var(--color-default);
}

.filtersWrap {
  display: flex;
  flex-direction: row;
  gap: $space-3;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 30%;
}